.corps
{

margin-top:80px;

}

body{
background-color:#dae9b6;
}


.bouton

{


margin-left:550px;



}

body{
background-image: url("fondecran2.jpg");
background-size: cover;}

.titre{
font-family: 'Bungee Inline', cursive;
height: 25px;


}