
.titre{
font-family: 'Bungee Inline', cursive;
margin-left: 635px;
width:90em;




}

body{
background-image: url("fondregister.jpg");
background-size: cover;
margin:0 auto;
width: 100%;
overflow-x: hidden
}

