@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');



body {

                
                background-color:#65935e;    
            }

    li:hover {

                text-decoration: underline;

            }

.option   {
margin-top:-0.2%;


}

 

            .option span {
                animation: clignote 0.8s linear infinite;
                font-family: 'Rock Salt', cursive;
            }

            @keyframes clignote {
                10% {
                    opacity: 0;
                }}

            .option {

                margin-left: 42%;
                margin-bottom: 8%;



            }



            .icone{
            
  animation-duration: 30s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 0%;
   
  }

  to {
    margin-left: 100%;
    
  }
}

            
            @media (max-width: 1000px) {

                .option{

margin-left:20%;
margin-bottom: 15%;

                }

                .nomproduit
{

margin-left:2em;
margin-top:3em;

}
            }

            

.row img{
transition: transform .1s;
}

.row img:hover{

transform: scale(1.35);
}
            
            .logo {
                font-family: 'Bungee Inline', cursive;
            }

            .nomproduit {

                font-family: 'Bangers', cursive;
            
            }

            .sub {
                margin-top: 2%;

            }

            .row3 {
                margin-top: -7%;

            }

            .sub{

                margin-top: 1%;
            }

