<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="moneyfav.png"/>
    <title>Money X Money</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="navstyle.css">



</head>
<body>

<header>
    <h2><a href="#">Money X Money</a></h2>
    <ul class='nav'>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/profile}">Profile</a></li>
        <li><a th:href="@{/account}">Account</a></li>
        <li><a th:href="@{/transfer}">Transfer</a></li>
        <li><a th:href="@{/shop}">Shop</a></li>
    </ul>
</header>
<section class="banner-area">
    <div class="banner-img"></div>
    <h1>MONEY X MONEY</h1>
    <h3>Transfer your Money</h3>
    <a th:href="@{/register}" class="banner-btn">Register</a>
    <a th:href="@{/login}" class="banner-btn2">Login</a>
</section>

<div class="loader">
    <span></span>
    <span></span>
    <span></span>
</div>
<section class="about-area" id="about">
    <h3 class="section-title">About Us</h3>
    <ul class="about-content">
        <li class="about-left"></li>
        <li class="about-right">
            <h2>A propos de Money X Money</h2>
            <p>Money X Money vous permet de virer de l'argent vers une tierce personne aisément.
                Il vous suffit simplement d'établir une connection avec un utilisateur et vous pourrez lui
                transférer de l'argent facilement!</p>
            <a th:href="@{/contact}" class="about-btn">Contact Us</a>
        </li>
    </ul>
</section>
<section class="reseaux-area" id="reseaux">
    <h3 class="section-title">Social Networks</h3>
    <ul class="reseaux-content">
        <li>
            <a href="https://fr-fr.facebook.com/"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"  width="130" height="130" /></a>

        </li>
        <li>
            <a href="https://www.instagram.com/?hl=fr"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"  width="130" height="130" /></a>

        </li>
        <li>
            <a href="https://twitter.com/?lang=fr"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"  width="130" height="130" /></a>

        </li>
    </ul>
</section>

<section class="contact-area" id="contact">
    <h3 class="section-title">Contact</h3>
    <ul class="contact-content">
        <li>
            <i class="fa fa-map-marker"></i>
            <p>Marseille, FR</p>
        </li>
        <li>
            <i class="fa fa-phone"></i>

            <p>0767113418</p>
        </li>
        <li>
            <i class="fa fa-envelope"></i>

            <p>moneyxmoney@gmail.com</p>
        </li>
    </ul>
</section>
<footer>
    <p>All Right Reserved By Money X Money</p>
</footer>
</body>
</html>




